@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Редактор книг</title>
		<link rel="stylesheet" href="~/Content/css/reset.css">
		<link rel="stylesheet" href="~/Content/css/jquery-ui.min.css">
		<link rel="stylesheet" href="~/Content/css/ui.jqgrid.css">
		<link rel="stylesheet" href="~/Content/css/style.css">
		<script src="~/Scripts/lib/jquery-3.3.1.min.js"></script>
		<script src="~/Scripts/lib/jquery.jqGrid.min.js"></script>
		<script src="~/Scripts/lib/grid.locale-ru.js"></script>
		<script src="~/Scripts/main.js"></script>
	</head>
	<body>
		<div>
			<table id="book-list"></table>
			<div id="book-list-navigator"></div>
		</div>
	</body>
</html>